# DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/portafolio?schema=public"
# NEXTAUTH_SECRET="generate-a-long-random-string"
# NEXTAUTH_URL="http://localhost:3000"


DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portafolio?schema=public"
NEXTAUTH_SECRET="generate-a-long-random-string"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_LOGO_DEV_TOKEN="pk_FPPALF4YSMe3gUYlE01PpA"

REGISTRATION_INVITE_CODE=0103